*.DS_Store
*.db
*.err 
*.out
*.complete
*.env
*.xlsx
*.pyc
*.parquet
*.txt

/airflow_attempt
/airflow

.idea/
.vscode/

covid_redux.egg-info/PKG-INFO

covid_pipeline/logs/dbt.log

covid_pipeline/sandbox/test_db.sql

covid_pipeline/covid_dbt/config/.user.yml
covid_pipeline/covid_dbt/config/profiles.yml

covid_pipeline/covid_dagster/.nux/nux.yaml